
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

* {
    margin: 0%;
}

:root {

    --linkColor: rgba(9, 89, 9, .7);
    --navColor: hsl(0, 0%, 90%);
    --textColor: hsl(0, 0%, 25%);
    --muteColor: hsl(0, 0%, 95%);
    --bgColor: hsl(0, 0%, 22%);
    --accentColor: hsl(300, 50%, 50%);

}



body {
   
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

    font-size: 1rem / 1.5;
    overflow-x: hidden;
    overflow-y: scroll;
    font-weight: 400;
    font-style: normal;
    color: var(--textColor);
    font-variation-settings: "wdth" 100;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}
 
.main-navigation {
    
    /* font-size: 1.17rem; */
    font-size: calc(1rem + .5vw);
}

h1 {    
    font-size: clamp(1em, 1.2em, calc(1.2rem + 1.1vw));
    font-weight: 600;
    text-transform: uppercase;
    /* word-spacing: .2em;
    letter-spacing: .1em; */
    text-shadow: 1px 2px hsla(0 0% 0% / .08);

}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-8 {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.app {
    min-height: 100vh;
    /* display: flex; */
}

@media (min-width: 786px) {
    .app {
        
        display: flex;
    }

    h1 {    
        /* font-size: clamp(1em, 1.3em, calc(1.4rem + 1.1vw)); */
        font-size: clamp(1em, 1.2em, calc(1.2rem + 1.1vw));
        font-weight: 600;
        text-transform: uppercase;
        word-spacing: .2em;
        letter-spacing: .1em;
        text-shadow: 1px 2px hsla(0 0% 0% / .08);
    
    }
    
}

.app-nav {
    width: 16em;
    background-color: var(--bgColor);

}   

@media (max-width: 786px) {
    .app-nav {
        position: absolute;
        left: -16em;
        top: 0;
        bottom: 0;
    }   
}
@media (min-width: 787px) {
    .app-nav {
        flex: 0 0 auto;
        width: 16em;
        position: static;
        overflow: hidden;
        will-change: width;
    }   
}

.nav {
    list-style: none;
    margin: 0 0 1em;
    padding: 0 0 0 1em;
    min-width: 16em;
}


.app-nav-header {
    height: 5em;
    padding: 0 1.4em;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
}

.app-nav-header--title {
    color: var(--navColor) ;
    text-transform: uppercase;
    letter-spacing: .2em;
}


.app-nav--show {
    display: flex;
    width: 2.6em;
    margin-right: 1rem;
}

@media (min-width: 786px) {
    
    .app-nav--show {
        display: none;
        height: 100%;
        align-items: center;
        position: absolute;
        top: 0%;
        opacity: 0;
        left: 1rem;
    }   
}
.app-main {
    background-color: var(--muteColor);
    display: flex;
    flex-flow: column;
    min-width: 0%;
    flex: 1 1 0%;
}

.app-main-header {
    border-top: 1px solid var(--accentColor);
    border-bottom: 1px solid hsla(0, 0%, 0%, .075);
    height: 5em;
    padding: 0 1.4rem;
    display: flex;
    align-items: center;
    position: relative;
}

.app-main-header--logo {
    font-weight: 700;
    margin-left: 1rem;
    max-width: 100%;
    word-spacing: .2em;
    text-transform: uppercase;
    text-shadow: 1px 1px hsla(0 0% 0% / .08);
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    flex: 1;
}

.app-main-header--logo-emphasis {
    margin-right: .2em;
    color: var(--accentColor);
}

.app-main-header--links {
    display: flex;
    align-items: center;
}

.app-main-header--links a {
    margin-left: 1.25em;
    color: var(--textColor);

}

.nav a {
    color: var(--navColor) ;
    padding: 0 .35em;
    background: transparent;
    min-width: 100%;
    display: block;

}

.nav a:hover {
    color: var(--accentColor);
}

.main-navigation ul, .navigation ul, .navigation ol {
    list-style: none;
}

.main-navigation a, .navigation a {
    color: var(--linkColor);
    text-decoration: none;
}

.bg-cover {
    background-color: antiquewhite;
    background-size: cover;
    
}
.bg-center {
    background-position: center;

}

.bg-attachment {
    background-attachment: fixed;
}

.divider {
    float: right;
    padding-top: 0;
    padding-bottom: 4rem;
}

.card {
    min-width: 0;
    overflow: hidden;
    background-color: white;
    border: 1px solid var(--muteColor);
    position: relative;
}

.card-figure {
    width: 100%;
    min-width: 0;
    position: relative;
}

.footer {
    background-color: var(--bgColor);
    color: var(--muteColor);
    width: 100%;

}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer a {
    color: var(--navColor);
}

.footer a:hover {
    color: var(--accentColor);
}

.footer-main {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}
.footer-social {
    padding: 1rem 2rem;
}
.footer-social-list {
    display: flex;
    justify-content: center;
}


.footer-social-list a {
    margin: .5rem;
}

.footer-legal {
    padding: 1rem 2rem;
}


.footer-legal-list {
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 600px) {
    .footer-legal-list {
        display: block;
        margin: 1em auto;
        /* justify-content: center; */
    }
    
}

.card-figure .icons {
    position: absolute;
    top: 3rem;
    right: .8rem;
    z-index: -10;

}

.card-figure:hover .icons {
    z-index: 10;
}

.card-figure .icons a {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: white;
    color: var(--navColor);
}

.card-figure .icons a:hover {
    color: var(--accentColor);
    background-color: var(--muteColor);
}

.product-container {
    position: relative;
    display: grid;
    gap: 1em;

    /* grid-template-columns: 200px 200px 200px; */

    /* grid-template-columns: 1fr 1fr 1fr; */

    /* grid-template-columns: repeat(3, 1fr); */

    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
}
.badge-sold::before {
    background-color: rgb(148, 6, 115);
    color: white;
    content: "Sold";
    position: absolute;
    top: .5rem;
    right: -1.8rem;
    width: 6em;
    text-align: center;
    z-index: 2;
    transform: rotate(45deg);
}

.badge-new::before {
    background-color: green;
    color: white;
    content: "New";
    position: absolute;
    top: .5rem;
    right: -1.8rem;
    width: 6em;
    text-align: center;
    z-index: 2;
    transform: rotate(45deg);
}

.badge-sale::before {
    background-color: red;
    color: white;
    content: "Sale";
    position: absolute;
    top: .5rem;
    right: -1.8rem;
    width: 6em;
    text-align: center;
    z-index: 2;
    transform: rotate(45deg);
}

table {
    min-width: 100%;
    text-align: start;
    border-collapse: collapse;
    display: grid;
    table-layout: fixed;
    margin-bottom: 1rem;
    grid-template-columns: 
    minmax(10em, 4fr)
    minmax(2em, 1fr)
    minmax(4em, 2fr)
    minmax(2em, 1fr)
    minmax(2em, 1fr)
    ;
}
.table-responsive {
    overflow-x: auto;
}

.table thead,
.table tbody,
.table tr{
    display: contents;
}

.table thead {
    background-color: hsla(0, 0%, 0%, 0.075);
}

.table td,
.table th {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.cart-container {
    display: flex;
    gap: 1rem;
}

.cart-main {
    padding: .5rem;
    flex: 3;
}

.cart-aside {
    padding: .5rem;
    flex: 1;
}

.form-container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.form-control {
    display: block;
    width: 100%;
    padding: .35em .75em;
    border: 1px solid var(--muteColor);

}
.form-control:focus {
    border: 1px solid var(--accentCollor);

}
.input-group {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.btn-primary {
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    border-color: blueviolet;
    border-radius: 5%;
}

.number-input{
    display: inline-flex;
}

input[type="number"] {
    appearance: textfield;
    text-align: center;
    color: black;
} 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}


.form-check-label {
    color: white;
    text-transform: capitalize;
}


.input-group div {
    flex: 1;
    overflow-x: hidden;
}

.contact-container {
    display: grid;
    /* border: 1px red solid; */
    gap: 1rem;
}

.contact-main {
    /* border: 1px solid green; */
    grid-column: 1 / 3;

}

.contact-aside {
    /* border: 1px solid blue; */
    grid-column: 3 / 4;
}

@media (max-width: 786px) {
    .contact-header {
        grid-column: 1 / 4;
        grid-row: 1;

    }
    
    .contact-main {
        
        grid-column: 1 / 4;
        grid-row: 2;

    }

    .contact-aside {
        
        grid-column: 1 / 4;
        grid-row: 3;
    }
}

.form-submit {
    width: fit-content;
    padding: .5rem 1rem;
    background-color: var(--accentColor);
    color: white;
    border-radius: 4%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-submit:hover {
    background-color: white;
    color: var(--accentColor) ;
}

.btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    padding: .375rem .75rem;
}
.btn-hero {
    background-color: darkviolet;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 5%;
}

.btn-hero:hover {
    color: darkviolet;
    background-color: white;
    border: 2px darkorchid solid;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-price::before {
    content: "$";
}
.button {
    background-color: hsla(0, 0%, 0%, .1);
    border: 1px solid transparent;
    
    text-decoration: none;
    color: white;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .2s cubic-bezier(0.19, 1, 0.22, 1), transform .2s ease-in;

}

.button:hover {
    background-color: hsla(0, 0%, 0%, .6);
    opacity: .8;
    transform: scale(1.2);
}

.image:hover {
    /* transform: rotate(45deg); */
    transform: scaleX(-1);
    transition-duration: 2s;
    filter: grayscale(40%);

}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.slider {
    height: 100px;
    margin: auto;
    width: 900px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px -5px hsl(0, 0%, 90%);
}

.slide img {
    display: block;
    height: 100px;
    width: 250px;
    object-fit: cover;
}

.slide-track {
    display: flex;
    width: calc(250px * 7);
    animation: carousel 40s infinite linear;
}

@keyframes carousel {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
    
}

.category-item {
    display: block;
    position: relative;
}

.category-item-title {
    display: inline-block;
    background-color: white;
    font-size: 1em;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .5em 1em;
    transform: translate(-50%, -50%);,
}

.slider::before, .slider::after {
    content: '';
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, white 0%, rgb(255 255 255 / 0) 100%);
} 

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slide:hover img {
    filter: contrast(200%);;
}

.slide:hover .category-item {
    transform: scale(1.2);
}


.app-nav__hide {
    display: flex;
    position: absolute;
    bottom: 0;
    top: 0;
    left: -16em;
    transform: translate3d(0%, 0, 0);
}

.app-nav__show {
    display: block !important;
    width: 16em !important;    
    left: 0 !important; 
    transform: translate3d(0%, 0, 0) !important;
}

.hamburger {
    display: flex !important;
    opacity: 1 !important;
    margin-right: 1rem;
}

.unstyled {
    list-style: none;

}

.app-nav-header {
    height: 5em;
    padding: 0 1.4em;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
}

.catagory-title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: var(--muteColor);
}

.text-whte {
    color: white;
}